<!-- Navbar -->
<nav
  class="z-10 h-10 top-0 left-0 w-full md:shadow-lg  md:opacity-90 md:fixed md:bg-gray-800 md:flex-row md:flex-nowrap
  md:justify-start flex items-center p-4 invisible md:visible"
>
  <div
    class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
  >
<div class=""></div>

    <ul
      class="flex-col md:flex-row list-none items-center hidden md:flex"
    >
      <li class="text-gray-50"><i class="fas fa-comments"></i></li>
      <li class="text-gray-50 ml-5"><i class="far fa-bell"></i></li>

    </ul>
  </div>
</nav>
