<div class="w-full md:w-1/5 bg-gray-200 md:bg-white px-2 fixed bottom-0 md:pt-8 md:top-0 md:left-0 h-16
            md:h-screen shadow-lg md:shadow z-20">
  <div class="hidden md:block ">
    <div class="flex flex-col items-center text-center justify-center">
      <img class="w-20 rounded-full border-2 border-gray-300 items-center" src="https://picsum.photos/seed/picsum/200"/>
    </div>
    <div class="flex flex-col items-center text-center justify-center">
      <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Phoebe Caulfield</h2>
    </div>
    <hr class="my-4 md:min-w-full"/>
  </div>
  <div class="md:relative mx-auto lg:float-left lg:px-6 px-6">
    <div class="flex flex-row md:flex-col text-center md:text-left justify-between">
      <div class="items-center hidden md:block ">
        <a
          class="ttext-gray-700 hover:text-gray-500 text-xs uppercase py-3 font-bold block"
          routerLink="wall"
          routerLinkActive="text-indigo-600"
        ><i class="fab fa-google-wallet opacity-75 mr-2 text-sm"></i>
          My wall</a
        >
      </div>
      <div class="items-center hidden md:block ">
        <a
          class="text-gray-700 hover:text-gray-500 text-xs uppercase py-3 font-bold block"
          routerLink="dashboard"
          routerLinkActive="text-indigo-600"
        ><i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
          Dashboard</a
        >
      </div>
      <div class="items-center flax-col md:flax-row">
        <a
          class="text-gray-700 hover:text-gray-500 border-b-2 md:border-b-0 text-xs uppercase py-3 font-bold block hover:border-pink"
          routerLink="courses"
          routerLinkActive="text-indigo-600"
        ><i class="fas fa-newspaper text-blueGray-400 mr-2 text-2xl md:text-sm"></i>
          <span class="pb-1 md:pb-0 text-xs md:text-xs block md:inline-block">
            Training courses</span></a>
      </div>
      <div class="items-center">
        <a
          class="text-gray-700 hover:text-gray-500 text-xs uppercase py-3 font-bold block"
          routerLink="account"
          routerLinkActive="text-indigo-600"
        ><i class="fas fa-user-circle text-blueGray-400 mr-2 text-2xl md:text-sm"></i>
          <span class="pb-1 md:pb-0 text-xs md:text-xs text-grey-dark md:text-grey-light block md:inline-block">
            Profile Page</span></a
        >
      </div>
      <div class="items-center">
        <a
          class="text-gray-700 hover:text-gray-500 text-xs uppercase py-3 font-bold block"
          routerLink="teams"
          routerLinkActive="text-indigo-600"
        ><i class="fas fa-users text-blueGray-400 mr-2 text-2xl md:text-sm"></i>
          <span class="pb-1 md:pb-0 text-xs md:text-xs text-grey-dark md:text-grey-light block md:inline-block">
            Dream Team</span></a
        >
      </div>
      <div class="items-center hidden md:block ">
        <a
          class="text-gray-700 hover:text-gray-500 text-xs uppercase py-3 font-bold block"
          routerLink="friends"
          routerLinkActive="text-indigo-600"
        >
          <i class="fas fa-user-friends text-blueGray-300 mr-2 text-sm"
          ></i>
          Friendship </a
        >
      </div>
      <div class="items-center hidden md:block ">
        <a
          class="text-gray-700 hover:text-gray-500 text-xs uppercase py-3 font-bold block"
          href="#pablo"
        ><i class="fas fa-tools text-blueGray-300 mr-2 text-sm"></i>
          Settings </a
        >
      </div>
    </div>
    <!-- Divider -->
    <hr class="my-4 md:min-w-full"/>
    <!-- Heading -->
    <h6
      class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
    >
      Documentation
    </h6>
    <!-- Navigation -->
    <div class="hidden md:block md:flex flex-row md:flex-col text-center md:text-left justify-between">
      <div class="inline-flex">
        <a
          class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
          href="#/documentation/styles"
        ><i
          class="fas fa-paint-brush mr-2 text-blueGray-400 text-base"
        ></i>
          Styles</a
        >
      </div>
      <div class="inline-flex">
        <a
          class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
          href="#/documentation/alerts"
        ><i class="fab fa-css3-alt mr-2 text-blueGray-400 text-base"></i>
          CSS Components</a
        >
      </div>
      <div class="inline-flex">
        <a
          class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
          href="#/documentation/vue/alerts"
        ><i class="fab fa-vuejs mr-2 text-blueGray-400 text-base"></i>
          VueJS</a
        >
      </div>
      <div class="inline-flex">
        <a
          class="text-blueGray-700 hover:text-blueGray-500  text-sm block mb-4 no-underline font-semibold"
          href="#/documentation/react/alerts"
        ><i class="fab fa-react mr-2 text-blueGray-400 text-base"></i>
          React</a
        >
      </div>
      <div class="inline-flex">
        <a
          class="text-blueGray-700 hover:text-blueGray-500  text-sm block mb-4 no-underline font-semibold"
          href="#/documentation/angular/alerts"
        ><i class="fab fa-angular mr-2 text-blueGray-400 text-base"></i>
          Angular</a
        >
      </div>
      <div class="inline-flex">
        <a
          class="text-blueGray-700 hover:text-blueGray-500  text-sm block mb-4 no-underline font-semibold"
          href="#/documentation/javascript/alerts"
        ><i class="fab fa-js-square mr-2 text-blueGray-400 text-base"></i>
          Javascript</a
        >
      </div>
    </div>

  </div>
</div>
