<div class="flex flex-row">
  <button class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600 hover:opacity-75"
          (click)="toggleModal()">
    <i class="fas fa-thumbtack text-lg leading-lg text-gray-600 opacity-75"></i><span class="ml-2">Add task</span>
  </button>
  <div *ngIf="showModal"
       class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center
       items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-sm">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div
          class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
          <h3 class="text-2xl font-semibold">
            Add task
          </h3>
          <button
            class="p-1 ml-auto bg-transparent border-0 text-gray-600 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
            (click)="toggleModal()">
          <span class="h-6 w-6 text-2xl outline-none focus:outline-none">
            <i class="fas fa-times"></i>
          </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">

          <div class="mb-3 pt-0">
            <textarea [(ngModel)]="task" class="px-3 py-1 text-blueGray-600 relative bg-white
            bg-white rounded text-base shadow outline-none focus:outline-none focus:shadow-outline w-full" rows="3">
            </textarea>
          </div>

        </div>
        <!--footer-->
        <div class="flex justify-center p-6 border-t border-solid border-blueGray-200 rounded-b">
          <button
            class="bg-green-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="addTask()">
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600 hover:opacity-75"
     href="#pablo">
    <i class="fas fa-project-diagram text-lg leading-lg text-gray-600 opacity-75"></i><span
    class="ml-2">Add project</span>
  </a>
  <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600 hover:opacity-75"
     href="#pablo">
    <i class="far fa-share-square text-lg leading-lg text-gray-600 opacity-75"></i><span class="ml-2">Share</span>
  </a>
</div>
