<nav
  class="w-full fixed flex flex-wrap items-center justify-between px-2 py-3 bg-current opacity-65 mb-3 shadow-lg z-30">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">

    <div class="flex flex-grow">
      <ul class="flex flex-row list-none ml-auto">
        <li class="nav-item">
          <button
            class="cursor-pointer px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-300 hover:opacity-75"
            (click)="toggleModal()">Login
          </button>
        </li>

        <li class="nav-item">
          <button
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-700 hover:opacity-75"
            href="#pablo">
            <i class="far fa-user-circle text-lg leading-lg text-gray-300 opacity-75"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Modal window -->
<div *ngIf="showModal"
     class="fixed  z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">


    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden md:inline-block md:align-middle md:h-screen" aria-hidden="true"></span>


    <div
      class="inline-block align-bottom bg-white rounded-lg flax items-center overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-current px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">

          <div class="mt-3  sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-200 mb-5" id="modal-title">
              Выберите наиболее удобную для Вас платформу
            </h3>
            <div class="flex flex-row justify-between border-t-2 border-b-2 mt-2 pt-2">
              <a
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600 hover:opacity-75"
                href="#pablo">
                <i class="fab fa-github-square text-9xl leading-lg text-gray-200 opacity-75"></i>
              </a>
              <a
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600 hover:opacity-75"
                href="#pablo">
                <i class="fab fa-facebook-square text-9xl leading-lg text-gray-200 opacity-75"></i>
              </a>
              <a
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600 hover:opacity-75"
                href="#pablo">
                <i class="fab fa-google-plus-square text-9xl leading-lg text-gray-200 opacity-75"></i>
              </a>
            </div>

            <div class="mt-2">
              <p class="text-sm text-center text-gray-500">
                <strong>Проходя авторизацию</strong>, Вы подтверждаете, что внимательно прочитали и согласились с нашими
                Условиями и нашей
                Политикой конфедициальности.
              </p>
            </div>
            <div class=" ">
              <button
                class="m-auto focus:outline-none text-white text-sm mt-5 py-2.5 px-5 rounded-md hover:bg-gray-400
                hover:shadow-lg  flex items-center text-xs uppercase font-bold leading-snug text-gray-600
                hover:opacity-75"
                (click)="toggleModal()">Close

              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

