<nav class="w-full fixed flex flex-wrap items-center justify-between px-2 py-3 bg-gray-100 mb-3 shadow-lg z-30">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
      <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-black"
         href="#pablo">
        Brand logo here
      </a>

      <button
        class="text-gray-600 cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button" (click)="toggleNavbar()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:w-1/5 w-1/2 flex-wrap items-stretch">
      <input type="text" placeholder="Search...."
             class="px-2 py-1 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:ring w-full pr-10"/>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
      <ul class="flex flex-row list-none ml-auto">
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-700 hover:opacity-75"
             href="#pablo">
            <i class="far fa-bell text-lg leading-lg text-gray-700 opacity-75"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-700 hover:opacity-75"
             href="#pablo">
            <i class="far fa-comment-dots text-lg leading-lg text-gray-700 opacity-75"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-700 hover:opacity-75"
             href="#pablo">
            <i class="fas fa-id-card-alt text-lg leading-lg text-gray-700 opacity-75"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
