<div class="bg-white border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-lg">
  <div class="flex items-center mb-4">
    <img class="w-20 rounded-full border-2 border-gray-300" src="https://picsum.photos/seed/picsum/200"/>
    <div class="leading-5 ml-6 sm">
      <h4 class="text-xl font-semibold">John Doe</h4>
      <h5 class="font-semibold text-blue-600">Designer</h5>
    </div>
  </div>
  <div>
    <p class="italic text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <hr class="bg-gray-600 my-5">
  <div class="">

  </div>
</div>

<div class="bg-white border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-lg">
  <div class="flex items-center mb-4">
    <img class="w-20 rounded-full border-2 border-gray-300" src="https://picsum.photos/seed/picsum/200"/>
    <div class="leading-5 ml-6 sm">
      <h4 class="text-xl font-semibold">John Doe</h4>
      <h5 class="font-semibold text-blue-600">Designer</h5>
    </div>
  </div>
  <div>
    <p class="italic text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <hr class="bg-gray-600 my-5">
  <div class="">

  </div>
</div>

<div class="bg-white border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-lg">
  <div class="flex items-center mb-4">
    <img class="w-20 rounded-full border-2 border-gray-300" src="https://picsum.photos/seed/picsum/200"/>
    <div class="leading-5 ml-6 sm">
      <h4 class="text-xl font-semibold">John Doe</h4>
      <h5 class="font-semibold text-blue-600">Designer</h5>
    </div>
  </div>
  <div>
    <p class="italic text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <hr class="bg-gray-600 my-5">
  <div class="">

  </div>
</div>

<div class="bg-white border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-lg">
  <div class="flex items-center mb-4">
    <img class="w-20 rounded-full border-2 border-gray-300" src="https://picsum.photos/seed/picsum/200"/>
    <div class="leading-5 ml-6 sm">
      <h4 class="text-xl font-semibold">John Doe</h4>
      <h5 class="font-semibold text-blue-600">Designer</h5>
    </div>
  </div>
  <div>
    <p class="italic text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <hr class="bg-gray-600 my-5">
  <div class="">

  </div>
</div>
