<div class="grid grid-rows-1 h-screen bg-current opacity-50">
  <div class="relative ml-14 w-2 h-screen border-r-2 border-white"></div>
  <div class="w-48 sm:w-96 absolute top-64 left-0">
    <ul class="cursor-pointer">
      <li>

        <a
          class="text-black pl-14 relative flex flex-row items-center h-11 focus:outline-none  text-lg
          hover:text-gray-200 bg-gradient-to-r border-transparent hover:from-black hover:to-gray-300 pr-6">
          <span class="mr-5"><i class="fas fa-cubes"></i></span>
          Курсы
        </a>
      </li>
      <li>
        <a
          class="text-black pl-14 relative flex flex-row items-center h-11 focus:outline-none  text-lg
          hover:text-gray-200 bg-gradient-to-r border-transparent hover:from-black hover:to-gray-300 pr-6">
          <span class="mr-5 "><i class="fas fa-cubes"></i></span>
          Команды
        </a>
      </li>
      <li>
        <a
          class="text-black pl-14 relative flex flex-row items-center h-11 focus:outline-none  text-lg
          hover:text-gray-200 bg-gradient-to-r border-transparent hover:from-black hover:to-gray-300 pr-6">
          <span class="mr-5"><i class="fas fa-cubes"></i></span>
          Сообщества
        </a>
      </li>
    </ul>
  </div>
  <div class="bg-gray-800"></div>
  <div class="w-5 absolute top-80 right-0">
    <button (click)="toggleModal()" class="animate-pulse w-5 h-10 bg-black text-lg text-white"><i
      class="fas fa-angle-double-left"></i></button>
  </div>
</div>


<!-- Modal window -->

<div *ngIf="showModal"
     class="w-48 bg-current absolute top-80 right-20">
    <div class="col-start-1 border-white border-r-2 w-10">
      <button
        class="text-gray-900 text-lg"
        (click)="toggleModal()"><span><i class="fas fa-angle-double-right"></i></span>
      </button>
    </div>
    <div class="w-38 col-start-1">
      <h3 class="text-xs uppercase font-bold text-gray-900 mb-5">
        Follow us
      </h3>

      <div class="flex flex-row justify-between border-t-2 mt-2 pt-2">
        <ul>
          <li>
            <a
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600
                    hover:opacity-75"
              href="#pablo">
              <i class="fab fa-github-square text-lg leading-lg text-gray-200 opacity-75"></i> GitHub
            </a>
          </li>
          <li>
            <a
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600 hover:opacity-75"
              href="#pablo">
              <i class="fab fa-facebook-square text-lg leading-lg text-gray-200 opacity-75"></i>
            </a>
          </li>
          <li>
            <a
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-gray-600 hover:opacity-75"
              href="#pablo">
              <i class="fab fa-google-plus-square text-lg leading-lg text-gray-200 opacity-75"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>



